<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- 
    Meta tags 
-->
<title>
    <%=locals.title%>
</title>
<meta name="title" content="<%=locals.title%>">
<meta name="description" content="FPT Shipping food project">


<!-- 
    Icon
-->
<link rel="shortcut icon" href="/images/logo.png" type="image/svg+xml">


<!--
    Google font links
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap" rel="stylesheet">


<!--
    Material symbols rounded
-->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
