<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<!-- 
    Meta tags 
-->
<title>
    <%=locals.title%>
</title>
<meta name="title" content="<%=locals.title%>">
<meta name="description" content="FPT Shipping food project">


<!-- 
    Icon
-->
<link rel="apple-touch-icon" sizes="76x76" href="./images/logo.png">
<link rel="icon" type="image/png" href="./images/logo.png">


<!--
    Fonts and icons
-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />


<!--
    Nucleo Icons
-->
<link href="./css/nucleo-icons.css" rel="stylesheet" />
<link href="./css/nucleo-svg.css" rel="stylesheet" />


<!--
    Font Awesome Icons
-->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="./css/nucleo-svg.css" rel="stylesheet" />


<!--
    Material symbols rounded
-->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


<!-- CSS Files -->
<link id="pagestyle" href="./css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />