<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../layouts/head', { title: '404 | Nom Nom' }) %>
    <link rel="stylesheet" href="/css/404.css" />
  </head>

  <body>
    <article class="error-page">
      <img
        src="/images/logo.png"
        width="48"
        height="48"
        alt="NomNom logo"
        class="logo"
      />

      <div>
        <h2 class="title display-small">Page not found!</h2>

        <p class="text body-large">
          We can't seem to find the page you are looking for.
        </p>
      </div>

      <a href="/" class="btn">
        <span class="label-large">Back to home</span>

        <div class="state-layer"></div>
      </a>
    </article>
  </body>
</html>
