<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <%- include('../layouts/head', { title: 'Login | Nom Nom' })%>
    <link rel="stylesheet" href="/css/login.css">
    <script type="module" src="/js/auth.js"></script>
</head>
<body>
    <div class="container">
        <div class="signin-signup">
            <form action="" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input id="username" type="text" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input id="password" type="password" placeholder="Password">
                </div>
                <button type="submit" class="btn">Sign in</button>
                <p id="error-message" style="color:red;"></p>
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <p class="account-text">Forgot your password ?<a href="#" id="sign-up-btn2"> Reset password</a></p>
            </form>
            <form action="" class="sign-up-form">
                <h2 class="title">Forgot your password ?</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email">
                </div>
                <input type="submit" value="send" class="btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <p class="account-text">Already have an account ?<a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Member of Brand?</h3>
                    <p>Welcome back, wish you a very refreshing and joyful day at work</p>
                    <button class="btn" id="sign-in-btn">Sign in</button>
                </div>
                <img src="./images/signin.svg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Forgot your password ?</h3>
                    <p>Don't worry, we will help you retrieve your password, please click the button below to retrieve your password !!!</p>
                    <button class="btn" id="sign-up-btn">Forgot my password</button>
                </div>
                <img src="./images/password.svg" alt="" class="image">
            </div>
        </div>
    </div>
    <script type="module" src="/js/login.js"></script>
</body>
</html>