<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <%- include('../layouts/head', { title: 'Login | Nom Nom' })%>
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    <div class="container">
        <div class="signin-signup">
            <form class="sign-in-form" method="post" action="/auth">
                <h2 class="title">Sign in</h2>
                <% if (typeof error !== 'undefined') { %>
                    <div class="alert alert-danger" id="login-noti"><%= error %></div>
                  <% } %>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input id="username" name="username" type="text" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input id="password" name="password" type="password" placeholder="Password">
                </div>
                <button type="submit" class="btn">Sign in</button>        
            </form>
            <form class="sign-up-form" id="reset-password-form">
                <h2 class="title">Reset password</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input id="email" name="email" type="email" placeholder="Email" required>
                </div>
                <input type="submit" value="Reset" class="btn">
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
            <div id="notification" style="display:none; position:fixed; top:20px; right:20px; background-color:#f0f0f0; border:1px solid #ccc; padding:10px; z-index:1000;">
                <p id="notification-message"></p>
            </div>                       
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Member of Brand?</h3>
                    <p>Welcome back, wish you a very refreshing and joyful day at work</p>
                    <button class="btn" id="sign-in-btn">Sign in</button>
                </div>
                <img src="/images/signin.svg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Forgot your password ?</h3>
                    <p>Don't worry, we will help you retrieve your password, please click the button below to retrieve your password !!!</p>
                    <button class="btn" id="sign-up-btn" style="width: 150px;"><span>Reset Password</span></button>
                </div>
                <img src="/images/password.svg" alt="" class="image">
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>

    <script>
        const loginNoti = document.getElementById('login-noti');
        setTimeout(() => {
                    loginNoti.style.display = 'none';
        }, 10000);

        document.getElementById('reset-password-form').addEventListener('submit', async function(event) {
            event.preventDefault(); // Ngăn chặn hành vi submit mặc định của form
        
            const email = document.getElementById('email').value;
        
            try {
                const response = await fetch('/auth/reset_mail', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email })
                });
                const result = await response.json();
        
                // Hiển thị thông báo
                const notification = document.getElementById('notification');
                const message = document.getElementById('notification-message');
        
                if (result.isSuccess) {
                    message.textContent = 'Email send successfully. Check your mail to get new password!';
                    notification.style.width = "200px";
                    notification.style.backgroundColor = '#d4edda';
                    notification.style.borderColor = '#c3e6cb';
                    notification.style.borderRadius = '20px';
                } else {
                    message.textContent = 'Có lỗi xảy ra: ' + result.message;
                    notification.style.width = "200px";
                    notification.style.backgroundColor = '#f8d7da';
                    notification.style.borderColor = '#f5c6cb';
                    notification.style.borderRadius = '20px';
                }
        
                notification.style.display = 'block';
        
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 10000);
            } catch (error) {
                console.error('Error:', error);
                alert('Có lỗi xảy ra khi gửi email. Vui lòng thử lại.');
            }
        });
    </script>        
</body>
</html>