<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../layouts/head', { title: 'StoreDetail | Nom Nom' }) %>

</head>
<body>


    <!--   Core JS Files   -->
    <%- include('../layouts/script') %>
</body>
</html>